@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgba(27, 27, 50, 0.8);
    opacity: 0,3;
}

fieldset {
    border: none;
}

.container {
    background-color: #1B1B32CC;
    padding: 40px 10px;
    width: 70%;
    border-radius: 8px;
    margin-left: 15%;
    margin-top: 20px;

}

#title {
    color: #f3f3f3;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-size: 32px;
    margin: 0px 0px 0px 8px;
    text-align: center;
    margin-top: 10px;
    font-weight: 400;
    line-height: 1.2;

}

#description {
    color: #f3f3f3;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin: 0px 0px 0px 8px;
    text-align: center;
    font-style: italic;
    font-weight: 200;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}

label,
#textarea,
#submit {
    display: block;
    gap: 10px;
    align-items: center;
    font-size: 20px;
    color: #f3f3f3;
    font-family: 'Poppins';
    margin-bottom: 20px;
}

#name-label,
#email-label, 
#number-label,
#dropdown,
#dropdown2, 
#textarea,
#submit {
    width: 100%;
    font-size: 15px;
    height: 35px;
    border-radius: 4px;
}

#submit{
    background-color: #37af65;
    height: 45px;
    border: none;
}

#textarea {
    height: 150px;
}

input[type=checkbox],
.rad {
    zoom: 1.5;
}